body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    width: 50%;
    font-size: 2rem;
    text-align: center;
}

